name: build
on: [push, pull_request, workflow_dispatch]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: latest
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: 1.23
    - name: Run Unit tests
      run: go test -v -covermode atomic -coverprofile=profile.cov .
    - name: Install goveralls
      run: go install github.com/mattn/goveralls@latest
    - name: Send coverage
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        goveralls -coverprofile=profile.cov -service=github
